<h1 style="color: blue; margin-left: 600px;">Selected customer</h1>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">CompaanyName</th>
        <th scope="col">Company Desc</th>
        <th scope="col">Company Start year</th>
        <th scope="col">Company Gst NO</th>
        <th>Branches</th>
        <th>Technologies</th>
        <th>State</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{mData?.cname}}</th>
        <td>{{mData?.companyDecription}}</td>
        <td>{{mData?.year}}</td>
        <td>{{mData?.Companygn}}</td>
        <td>{{mData?.brance}}</td>
        <td>{{mData?.Technologies}}</td>
        <td>{{mData?.State}}</td>
        <td>{{mData?.contry}}</td>
      </tr>
    </tbody>
  </table>